<?xml version="1.0"?>
<settings>
    <profiles>
        <profile>
            <id>default</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Central Repository</name>
                    <url>http://repo.maven.apache.org/maven2</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>releases-ee</id>
                    <name>Mule Release EE Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/releases-ee/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>mule-ci-releases</id>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/ci-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>mule-ci-snapshots</id>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/ci-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>mulesoft-releases</id>
                    <name>Mule EE Releases Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>mulesoft-snapshots</id>
                    <name>Mule EE Snapshots Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>mule-msap-artifacts</id>
                    <name>Mule MSAP Repository</name>
                    <url>https://nexus.build.msap.io/nexus/content/repositories/artifacts/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>mule-msap-snapshots</id>
                    <name>Mule MSAP Snapshot Repository</name>
                    <url>https://nexus.build.msap.io/nexus/content/repositories/snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>mule-msap-releases</id>
                    <name>Mule MSAP Releases Repository</name>
                    <url>https://nexus.build.msap.io/nexus/content/repositories/releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>mule-ee-dependencies</id>
                    <name>Mule EE Dependencies</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/groups/mule-ee-dependencies/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
                <repository>
                    <id>mule-ee-thirdparty</id>
                    <name>Local repository for thirdparty</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/ext-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                </repository>
                <repository>
                    <id>exchange-prod</id>
                    <name>Exchange PROD</name>
                    <url>https://maven.anypoint.mulesoft.com/api/v1/maven</url>
                    <layout>default</layout>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </repository>
            </repositories>

            <pluginRepositories>
                <pluginRepository>
                    <id>sonatype-snapshot</id>
                    <url>https://oss.sonatype.org/content/repositories/snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>mule-ci-releases</id>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/ci-releases/</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                    <layout>default</layout>
                </pluginRepository>
                <pluginRepository>
                    <id>mule-ci-snapshots</id>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/ci-snapshots/</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                    <layout>default</layout>
                </pluginRepository>
                <pluginRepository>
                    <id>mulesoft-releases</id>
                    <name>Mule CE Releases Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/releases</url>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
                <pluginRepository>
                    <id>mulesoft-snapshots</id>
                    <name>Mule CE Snapshots Repository</name>
                    <url>https://repository-master.mulesoft.org/nexus/content/repositories/snapshots</url>
                    <releases>
                        <enabled>false</enabled>
                    </releases>
                    <snapshots>
                        <enabled>true</enabled>
                        <updatePolicy>interval:15</updatePolicy>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>

    <servers>
        <server>
            <id>mule-msap-artifacts</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-msap-releases</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-msap-snapshots</id>
            <username>${env.NEXUS_USER}</username>
            <password>${env.NEXUS_PASS}</password>
        </server>
        <server>
            <id>releases-ee</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-ee-releases</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-ee-snapshots</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-ci-releases</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-ci-snapshots</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-ee-thirdparty</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mule-ee-dependencies</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-private</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
        <server>
            <id>mulesoft-snapshots</id>
            <username>${env.PUB_NEXUS_USER}</username>
            <password>${env.PUB_NEXUS_PASS}</password>
        </server>
    </servers>

    <localRepository>/tmp/buildpack_cache/.m2/repository</localRepository>
</settings>